DISCORD_TOKEN=your_discord_bot_token
DASHBOARD_PORT=9898
DASHBOARD_HOST=127.0.0.1
BOT_CREATOR=TheDoctorTTV
BOT_GITHUB_REPO=https://github.com/TheDoctorTTV/manga-tracker-discord-bot
OAUTH_URL=discord_oauth_url
